body, body * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#main {
  width: 320px;
}

/***********************
HEADER
***********************/

header {
  min-height: 250px;
  position: relative;
  background-color: yellow;
}

header > a {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 5em;
}


/***********************
NAVIGATION
***********************/


nav {
  position: absolute;
  top: 200px;
  width: 320px;
  overflow: hidden;
  background-color: red;
  border-top: .095em solid purple;
  border-bottom: .095em solid purple;
}

nav a:first-child {
  padding-left: 5%;
  margin-left: 2%;
}

nav a:last-child {
  margin-right: 2%;
}

nav a{
  padding: 5%;
  background-color: darkred;
}


/***********************
TOURS SECTION
***********************/






/***********************
ABOUT SECTION
***********************/






/***********************
CONTACT SECTION
***********************/
