body, body * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.main {
  width: 100%;
}

/***********************
HEADER
***********************/


header {
  min-height: 850px;
  position: relative;
  /*background-color: yellow;*/
  background: linear-gradient(transparent, white 98%), url(http://40.media.tumblr.com/b54104a8a5fef63d355b22d0ef76de16/tumblr_nfi8x7TeF91rs8w78o1_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 10px;
  margin-top: -10px;
  }

header > a {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 17em;
color: orange;
}


/***********************
NAVIGATION
***********************/


nav {
  background-color: teal;
  text-align: center;
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  transform: translate(-75% 0 0 0);
  border-top: .5em solid tomato;
  border-bottom: .5em solid tomato;
}

nav a {
  font-size: 4rem;
  margin: 0 15px;
  border: .095em solid darkblue;
  padding: 1.5%;
  color: black;
}


/***********************
OATS DEFINITION
***********************/


.oats {
  text-align: center;
  background-color: white;
  margin-top: 50px;
  padding: 2%;
}

.oats h3 {
  font-size: 1.45em;
}

.oats > p {
  font-size: 1em;
}


/***********************
TOURS SECTION
***********************/

.tours {
  margin-top: 100px;
  overflow: hidden;
  position: relative;
}

.tours h3 {
  font-size: 11em;
  display: inline-block;
  position: absolute;
  left: -3%;
  top: 0;
  z-index: 1;
}

.tours div {
  min-height: 850px;
  width: 33.3333%;
  float: left;
  text-align: center;
  position: relative;
}






/***********************
ABOUT SECTION
***********************/

.about {
  margin-top: 150px;
  width: 100%;
  position: relative;
  /*background-color: red;*/
  background: url();
  background-repeat: no-repeat;
  background-position: center;
}

.about h1 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3em;
  z-index: 1;
}

.about div {
  text-align: center;
  padding-top: 200px;
  color: black;
  font-size: 1em;
}

.about div:last-child {
  padding-bottom: 50px;
}

.worker1 {

}

.worker2 {

}

.worker3 {

}




.row1 {
  min-height: 400px;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  margin-bottom: -420px;
}

.family {
  float: left;
  min-height: 800px;
  width: 100%;
  background: url(http://40.media.tumblr.com/1cd2a90fe5af9ab5e3170a1cdda77ef2/tumblr_nz1o48alBs1r4uw8oo1_1280.jpg);
  background-size: cover;
}

.family {
  -webkit-clip-path: polygon(100% 0, 100% 50%, 0 100%, 0% 50%);
clip-path: polygon(100% 0, 100% 50%, 0 100%, 0% 50%);
}

.row2 {
  min-height: 400px;
  background-color: green;
  background-color: transparent;
  overflow: hidden;
}

.extend {
  float: left;
  min-height: 800px;
  width: 100%;
  background: url(http://41.media.tumblr.com/b9000038e022ec5aa47a39dbc02dc4a6/tumblr_nz8aiddRGA1shc1wyo1_1280.jpg);
  background-size: cover;
}

.extend {
  -webkit-clip-path: polygon(100% 0, 100% 50%, 0 100%, 0% 50%);
clip-path: polygon(100% 0, 100% 50%, 0 100%, 0% 50%);
}

.row3 {
  min-height: 400px;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  margin-top: -420px;
}

.fun {
  float: left;
  min-height: 800px;
  width: 100%;
  background: url(http://41.media.tumblr.com/ec8cdfee9d9e7003b48e4f85edbaf0f6/tumblr_n1okruNPcU1slpxjko1_1280.jpg);
  background-size: cover;
}

.fun {
  -webkit-clip-path: polygon(100% 0, 100% 50%, 0 100%, 0% 50%);
clip-path: polygon(100% 0, 100% 50%, 0 100%, 0% 50%);
}















/***********************
CONTACT SECTION
***********************/

.contact {
  margin-top: 200px;
}
