body, body * {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#main {
  width: 320px;
}

/***********************
HEADER
***********************/

header {
  min-height: 250px;
  position: relative;
  background-color: yellow;
}

header > a {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 5em;
}


/***********************
NAVIGATION
***********************/


nav {
  position: absolute;
  top: 200px;
  width: 320px;
  overflow: hidden;
  background-color: red;
  border-top: .095em solid purple;
  border-bottom: .095em solid purple;
}

nav a:first-child {
  padding-left: 5%;
  margin-left: 2%;
}

nav a:last-child {
  margin-right: 2%;
}

nav a{
  padding: 5%;
  background-color: darkred;
  color: white;
}


/***********************
OATS DEFINITION
***********************/

.oats {
  text-align: center;
  background-color: limegreen;
  margin-top: 100px;
  padding: 2%;

}

.oats h3 {
  font-size: 1.45em;
}

.oats > p {
  font-size: 1em;
}

/***********************
TOURS SECTION
***********************/

.tours {
  margin-top: 100px;
  overflow: hidden;
  position: relative;
}

.tours h1 {
  font-size: 3em;
  display: inline-block;
  position: absolute;
  left: -3%;
  top: 0;
  z-index: 1;
}

.tours div {
  min-height: 250px;
  width: 33.3333%;
  float: left;
  text-align: center;
  position: relative;
}

.tours div p {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, -15%);
}

.family {
  background-color: red;
}

.wild {
  background-color: green;
}

.extended {
  background-color: yellow;
}


/***********************
ABOUT SECTION
***********************/

.about {
  margin-top: 150px;
  width: 320px;
  position: relative;
  background-color: red;
}

.about h1 {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 3em;
  z-index: 1;
}













/***********************
CONTACT SECTION
***********************/
